aiohttp==3.8.4
aiosignal==1.3.1
asgiref==3.6.0
astroid==2.15.5
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
backcall==0.2.0
boto3==1.26.145
botocore==1.29.145
charset-normalizer==3.1.0
colorama==0.4.6
decorator==5.1.1
dill==0.3.6
Django==4.2.1
django-ckeditor==6.6.1
django-cors-headers==4.2.0
django-crispy-forms==1.14.0
django-js-asset==2.0.0
django-storages==1.13.2
djangorestframework==3.14.0
exceptiongroup==1.2.0
executing==1.2.0
freezegun==1.2.2
frozenlist==1.3.3
gunicorn==20.1.0
idna==3.4
iniconfig==2.0.0
install==1.3.5
ipython==8.14.0
isort==5.12.0
jedi==0.18.2
jmespath==1.0.1
lazy-object-proxy==1.9.0
matplotlib-inline==0.1.6
mccabe==0.7.0
model-bakery==1.11.0
multidict==6.0.4
numpy==1.24.3
packaging==23.1
parso==0.8.3
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.5.1
pluggy==1.0.0
prompt-toolkit==3.0.38
psycopg2-binary==2.9.9
pure-eval==0.2.2
Pygments==2.15.1
pylint==2.17.4
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
pytest==7.3.1
pytest-django==4.5.2
python-dateutil==2.8.2
pytz==2023.3
s3transfer==0.6.1
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.2
tomli==2.0.1
tomlkit==0.11.8
traitlets==5.9.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.16
wcwidth==0.2.6
whitenoise==6.4.0
wrapt==1.15.0
yarl==1.9.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==42.0.5
dill==0.3.8
idna==3.6
lxml==5.1.0
multiprocess==0.70.16
pathos==0.3.2
pox==0.3.4
ppft==1.7.6.8
pycparser==2.21
PyExecJS==1.5.1
requests==2.31.0
six==1.16.0
tqdm==4.66.2
translators==5.9.0
urllib3==2.2.1
