{% load static %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}

<head>

    <link href = "{% static 'css/try.css' %}" rel = 'stylesheet'>

    <meta charset = "utf-8">

    <meta name = "author" content = "PTERYX">

    <meta name = "description" content = "This Page displays your message.">

    <title>Report Bullying</title>
    
</head>

<body>
    <h1>Report Bullying</h2>
    <form method="post" action="{% url 'form' %}" class = 'form'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Form</button>
    </form>
</body>